<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
              content="width-device-width,
                      user-scalable=no,
                      initial-scale=1.0,
                      maximum-scale=1.0,
                      minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Documento Usuario</title>
</head>
<body>
    <ul>
      {% for user in Users %}
        <a href="{% url 'update_user' user.id %}">
          <li> {{ user.name }} </li>
        </a>
      {% endfor %}
    </ul>

    <a href="{% url 'create_user' %}"> Novo Usuário</a>

</body>
</html>
